*.bak
*.qpg
*.qdb
*.mti
*.qtl
pulpenix/src/ips/riscv/work/
toolchain/
pulpenix/.simvision/
pulpenix/src/ips/riscv/design_syn/
pulpenix/src/ips/riscv/design_syn/WORK/
*.slm
pulpenix/sim/irun/waves.shm/
pulpenix/sim/irun/xcelium.d/
pulpenix/sim/irun/
